<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-sun-o"></i> Uroda</h3>
                <p>Dermalift powstał z myślą o osobach, które nie zapominają o tym, jak ważna jest równowaga pomiędzy dbaniem o urodę i rozwojem wewnętrznego piękna oraz siły, sukcesem i dobrym samopoczuciem.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-heart-o"></i> Zdrowie</h3>
                <p>Zadbamy o to by mogli Państwo nie tylko zachować młody wygląd oraz zgrabną sylwetkę, ale również zregenerować siły, zrelaksować ciało i umysł.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-leaf"></i> Piękno</h3>
                <p>Potrzebujesz - wyciszenia? chwili spokoju i wytchnienia? A może Twoja skóra powinna odetchnąć i wspomóc się profesjonalną kosmetyką lub medycyną estetyczną? Zatem to miejsce jest idealne dla Ciebie.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Pamiętaj, że piękno rodzi się z harmonii... ciała i umysłu ...</h2>
                <p>Dermalift to miejsce, w którym osoby zainteresowane swoim pięknem i dobrym samopoczuciem, znajdą wiedzę, wsparcie i najlepsze towarzystwo.</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Odwiedzając nasz gabinet masz gwarancję trwałych efektów, jakości na najwyższym poziomie</h2>
                <hr>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/thumbs/phoca_thumb_l_20120910130121%201.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_skanowanie0001s.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_skanowanie0004s.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_skanowanie0005s.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_20120822121949-2.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_20120822121949-7.jpg">
                </a>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_20120822121916.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_20120822121949-1.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_20120822121949-3.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_20120822121949-4.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_20120822121949-5.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_20120822121949-6.jpg">
                </a>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/thumbs/phoca_thumb_l_20120905114652-2.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/thumbs/phoca_thumb_l_20120905114652-3.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_20120822121916.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_20120822121949-1.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_20120822121949-6.jpg">
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://dermalift.com.pl/images/phocagallery/Certyfikaty/thumbs/phoca_thumb_l_20120822121949-3.jpg">
                </a>
            </div>
            <div class="col-lg-12 text-center">
                <hr>
                <h2>To wszystko po to, aby nasze klientki mogły czuć się bezpiecznie a efekty naszej pracy były w pełni satysfakcjonujące.</h2>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Do Państwa dyspozycji oddajemy wnętrze o unikalnym charakterze, w którym wykwalifikowany personel wspierany przez najnowsze technologie pomoże dobrać indywidualny program pielęgnacji. Wszystkie zabiegi wykonujemy wyłącznie przy użyciu najwyższej jakości produktów kosmetycznych.</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://dermalift.com.pl/images/phocagallery/thumbs/phoca_thumb_l__dsc5861.jpg">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://dermalift.com.pl/images/phocagallery/thumbs/phoca_thumb_l__dsc5858.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>To miejsce jest idealne dla Ciebie. To właśnie tutaj możesz z całym spokojem duszy oddać nam swoją twarz i ciało. Jesteś dla nas najważniejszy, dlatego sprawimy, że poczujesz się wyjątkowo.</h2>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
